@import '../../../../sass/state';

.section {
  padding: 20px 30px;
  background: linear-gradient(93.19deg, #255d8b 2.29%, #3a80ba 96.79%);
  width: 260px;
  margin: 0 auto;

  &_title {
    @include sectionTitle;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
  }

  &_descr {
    @include sectionDescr;
    color: #ffffff;
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }

  &_button {
    @include mobileButton;
    margin: 20px auto;
    font-family: "Montserrat", sans-serif;
  }

  &_notepad {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .section {
    width: 708px;

    &_button {
      height: 56px;
      width: 220px;
      font-size: 16px;
    }
  }
}

@media all and (min-width: 1024px) {
  .section {
    width: 764px;
    padding: 80px 130px;
    height: 429px;
    position: relative;

    &_text {
      width: 50%;
    }

    &_notepad {
      display: block;
      position: absolute;
      bottom: 160px;
      right: 80px;
    }

    &_notepad img {
      display: block;
      width: 500px;
    }
  }
}

@media all and (min-width: 1440px) {
  .section {
    width: 1180px;
    height: 230px;
    margin-top: 90px;

    &_text{
      width: 580px;
    }

    &_title {
      font-size: 32px;
      line-height: 39px;
      margin-top: 0;
    }

    &_descr {
      font-size: 16px;
      line-height: 142%;
    }

    &_button{
      margin-bottom: 0;
    }

    &_notepad {
      bottom: 0;
    }

    &_notepad img {
      // bottom: 0;
      width: 690px;
    }
  }
}
