.smallHeader {
  height: 72px;
  background: #3a80ba;
  padding-top: 15px;

  &_container {
    margin: 0 auto;
    width: 1024px;
  }

  &_logo {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    align-self: center;
    height: 100%;
  }
}
